html
{
	margin-top:-15px;
	}
body
{
	margin: 0 auto;
    text-decoration: none;
    color: #232323;  
    font-family: Arial, Verdana, Tahoma, Sans-Serif;
    font-size: 13px;
}
h1
{
	font-size: 20px;
}
a
{
	text-decoration: none;
	color: #FFF;
}
a:hover
{
	text-decoration: none;
	color: #3cc9c1;
}
 h1 span
		{
			border-width: 0 0 8px 0;
			border-style: solid;
			border-color: #3cc9c1;
			}
fieldset
{
	margin: 0 auto;
	width: 760px;
	}

.przycisk input.button
{
	border: solid 1px #fff;
	color: black;
	height: 30px;
	width: 100px;
	}
.przycisk input.button:hover
{
	border: solid 1px #3cc9c1;
	color: #fff;
	height: 30px;
	width: 100px;
	}
	
/**
 * Menu
 */
	
#gora
{
	height: 50px;
	background: #232323;
	}
	#gora_kontener
	{
		margin: 0 auto;
		width: 960px;
		}
		#logo
		{
			background: url('../img/logo.png') no-repeat;
			font-family: Tahoma, Sans-Serif;
			height: 45px;
			width: 239px;
			float: left;
			margin-top: 3px;
			}
		#menu
		{
			height: 100%;
			width: 630px;
			float:right;
			}
			#menu ul, ul li 
			{
				display: block;
				list-style: none;
				margin: 0;
				padding: 0;
				}	

			#menu ul li 
			{
				float:left;
				}

			#menu ul a:link, ul a:visited 
			{
				margin-left: 15px;
				font-size: 14px;
				text-decoration: none;
				display: block;
				margin-top:12px;
				text-align: center;
				color: #fff;
				padding: 5px;
				}

			#menu ul a:hover 
			{
				color: #3cc9c1;
				}

/**
 * Nagłówek
 */
				
#wysrodkowany
{
	
    margin: -13px auto;
    width: 960px;
}
    #naglowek
    {
		color:#fff;
        margin-bottom: 15px;
        min-height: 243px;
        width: 100%;
    }
    #naglowek_lewy
        {
			background: #3cc9c1 url('../img/kolka.jpg') center no-repeat;
            height: 200px;
			width: 580px;
            float: left;
			position:relative;
			z-index:0;
        }
	#naglowek_lewy1
        {
			background: #f0f0f0;
            height: 200px;
			width: 580px;
            float: left;
			position:relative;
			z-index:0;
        }
		#dane_nauczyciela
		{
				font-size:20px;
				color:#FFF;
				padding: 10px;
				float: left;
			}
			#dane_nauczyciela p
			{
				margin: 14px;
				text-shadow: 0px 0px 2px #0098B3;
			}
		#opcje
		{
			padding: 10px;
			float: left;
			margin-left: 20px;
			
		}
		#opcje p
		{
			position:right;
			font-size:17px;
			margin: 12px;
			padding: 0px 5px;
			border-left:5px solid #FFF;
		}
		#opice a
		{
			color:#fff;
		}
		#opcje a:hover
		{
			color: #3cc9c1;
		}
	#naglowek_prawy
        {
			background: #232323 url('../img/login1.jpg') top right no-repeat;
            height: 200px;
			width: 380px;
			float:left;
        }
	
	#naglowek_prawy form 
	{
			font:13px Arial, Georgia, "Times New Roman", Times, serif;
			padding:5px 20px;
			width:330px;
		}
	#naglowek_prawy form ol {
		list-style:none;
		margin:0;
		padding:0;
		}

		#naglowek_prawy form li {
			padding:6px;
			margin-bottom:1px;
			}

			
	#naglowek_prawy form label {
			float:left;
			width:70px;
			text-align:right;
			margin-right:7px;
			color:#FFF;
			line-height:23px;
			}

		#naglowek_prawy form input,
		#naglowek_prawy form textarea {
			padding:4px;
			font:13px Georgia, "Times New Roman", Times, serif;
			border: #999999;
			width:200px;
			}

			#naglowek_prawy form input:focus,
			#naglowek_prawy form textarea:focus {
				border:#666;
				}
			#naglowek_prawy form li#send button {
			background:#fff;
			border:#fff 1px solid;
			padding:4px 8px 4px 28px;
			color:#fff;
			margin-left:77px; /* Total width of the labels + their right margin */
			cursor:pointer;
			}
			#naglowek_prawy form li#send button:hover {
				background-color:#006633;
				}
        #naglowek_dol
		{
			
			clear: both;
			background: url('../img/cien.jpg') no-repeat;
            height: 43px;
            position: relative;
			}

/**
 * Treść
 */

			
#zawartosc_wlasciwa
	{
		width:100%;
		min-height: 420px;
		padding: 0px 10px;
		}
		#admin
		{
			min-height: 30px;
			margin: 100px 300px;
			color:#FFF;
			}
		#zawartosc_wlasciwa a
		{
			color:#000;
			}
		#zawartosc_wlasciwa a:hover
		{
			color:#3cc9c1;
			}
		#tresc_lewa
		{
			width: 650px;
			float:left;
			margin-right:20px;
			margin-bottom: 50px;
			}
		#tresc_prawa
		{
			width: 270px;
			float:left;
			}
		#tresc_dol
		{
			clear: both;
			width: 940px;
			}

/**
 * Zadanka
 */
			
#dodawanie
{
	background:#232323;
	color:#fff;
	width: 900px;
	height: 30px;
	padding-top:6px;
	margin: 0 auto;
	}
#edytor{
	float:left;
	height: 350px;
	width: 350px;
}
#edytor {
	color:#000;
}
#dragmath{
	float:left;
	height: 350px;
	width: 450px;
}
#temat{
	color: #000;
	font-size: 12pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	width: 900px;
}
#nazwa_druk{
	width: 800px;
	float: left;
	margin-bottom: 20px;
}

#grupa{
	width: 100px;
	float: left;
}
#zadanie{
	color: #000;
	font-size: 12pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	page-break-inside: avoid;
}
#nazwisko{
	color: #000;
	font-size: 12pt;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	clear: both;
	margin-bottom: 50px;
}
.box
{
	margin-left:10px;
	}			
			
			
/**
 * Stopka
 */
			
#stopka
    {
		
        margin-top: 15px;
        margin-bottom: 15px;
        height: 60px;
		width: 100%;
    }
	#stopka_gora
	{
		background: #232323 url('../img/login.jpg') top right no-repeat;
		height: 50px;
		color: #fff;
		}
		#stopka_gora p
        {
			
            color: #fff; 
			padding-top:16px;
			padding-left: 50px; 
        }
		#stopka_gora a
		{
			color: #fff;
			text-decoration: none;
			}
		#stopka_gora a:hover
		{
			color: #3cc9c1;
			text-decoration: none;
			}
        
	#stopka_dol
	{
		clear: both;
		background: #3cc9c1;
		height: 8px;
		position: relative;
		}

/**
 * Admin
 */	
	
#uzytkownicy
{
	margin-left:10px;
	height: 240px;
	width: 300px;
	background: #232323 url('../img/login.jpg') top right no-repeat;
	float: left;
	color:#FFF;
	}
#dzialy
{
	margin-left:10px;
	height: 240px;
	width: 300px;
	background: #232323 url('../img/login.jpg') top right no-repeat;
	float: left;
	color:#FFF;
	}
#zadania
{
	margin-left:10px;
	height: 240px;
	width: 300px;
	background: #232323 url('../img/login.jpg') top right no-repeat;
	float: left;
	color:#FFF;
	}
#uzytkownicy:hover
{
	margin-left:10px;
	height: 240px;
	width: 300px;
	background: #3cc9c1 url('../img/login2.jpg') top right no-repeat;
	float: left;
	color:#232323;
	}
#dzialy:hover
{
	margin-left:10px;
	height: 240px;
	width: 300px;
	background: #3cc9c1 url('../img/login2.jpg') top right no-repeat;
	float: left;
	color:#232323;
	}
#zadania:hover
{
	margin-left:10px;
	height: 240px;
	width: 300px;
	background: #3cc9c1 url('../img/login2.jpg') top right no-repeat;
	float: left;
	color:#232323;
	}
#tekst_admin p
{
	font-size: 18px;
	
	}
#admin_dodaj
{
	clear: both;
	height: 40px;
	width: 150px;
	float: left;
	color:#fff;
	background-color:#232323;
	}
#admin_lista
{
	height: 40px;
	width: 150px;
	float: left;
	color:#fff;
	background-color:#232323;
	}
#admin_dodaj:hover
{
	clear: both;
	height: 40px;
	width: 150px;
	float: left;
	color:#fff;
	background-color:#3cc9c1;
	}
#admin_lista:hover
{
	height: 40px;
	width: 150px;
	float: left;
	color:#fff;
	background-color:#3cc9c1;
	}
#obrazek
{
	margin-left:75px;
	border:none;
	}
	
/**
 * Amin_użytkownicy
 */
	
#pasek
{
	height: 40px;
	width: 900px;
	background: #232323 url('../img/login1.jpg') top right no-repeat;
	}
#nazwa1
{
	padding-top:11px;
	padding-left: 15px;
	height: 15px;
	width: 250px;
	color: #fff;
	float: left;
	}
#edycja1
{
	padding-top:11px;
	height: 15px;
	width: 100px;
	color: #fff;
	float: right;
	}
#lista
{
	clear: both;
	margin-top: 2px;
	height: 30px;
	width: 900px;
	background: #A3A0A1;
	}
#lista_pytania
{
	clear: both;
	margin-top: 2px;
	min-height: 40px;
	width: 900px;
	background: #A3A0A1;
	}
#nazwa
{
	padding-top:5px;
	padding-left: 15px;
	height: 15px;
	width: 250px;
	color: #fff;
	float: left;
	}
#nazwa_pytania
{
	padding-top:5px;
	padding-left: 15px;
	width: 500px;
	color: #fff;
	float: left;
	}
#nazwa_uwagi
{
	padding-top:5px;
	padding-left: 15px;
	width: 600px;
	color: #fff;
	float: left;
	}
#edycja
{
	padding-top:3px;
	height: 15px;
	width: 100px;
	color: #fff;
	float: right;
	}
	
/**
 * Druk
 */
	
@media print {
	span{display:none;}
	#zadanie{page-break-inside: avoid;}
	#gora{display:none;}
	#naglowek{display:none;}
	#stopka{display:none;}
}

/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; min-height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    
}
.dd-handle:hover { color: #fff; background: #3cc9c1; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists { display: block; clear: both; padding: 30px 0; width: 100%; height: 100%; border: 0; }

#nestable-menu { padding: 0; margin: 20px 0; }

#nestable-output,
#nestable2-output { width: 100%; height: 7em; font-size: 0.75em; line-height: 1.333333em; font-family: Consolas, monospace; padding: 5px; box-sizing: border-box; -moz-box-sizing: border-box; }

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #232323 ;
}
#nestable2 .dd-handle:hover { color:#232323; background: #A3A0A1; }
#nestable2 .dd-item > button:before { color: #fff; }

@media only screen and (min-width: 700px) { 

    .dd { float: left; width: 48%; }
    .dd + .dd { margin-left: 2%; }

}

.dd-hover > .dd-handle { background: #2ea8e5 !important; }

/**
 * Nestable Draggable Handles
 */

.dd3-content { display: block; height: 30px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #3cc9c1;
}
.dd3-content:hover { color: #2ea8e5; background: #fff; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #aaa;
    background: #3cc9c1;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #ddd; }




/*****
POKAZ SLAJDÓW
*****/

#slides {
	position:absolute;
	z-index:100;
}
.slides_container {
	width:580px;
	overflow:hidden;
	position:relative;
	display:none;
}
.slides_container a {
	width:580px;
	height:200px;
	display:block;
}

.slides_container a img {
	display:block;
}